{{#each this}}
 <li class="film-card" data-id="{{id}}">
   
  <img
    class="film-cover"
    src="{{poster_path}}"
    alt="{{original_title}}"
  />
  <div class="film-info-wrapper">
    <h3 class="film-name">{{original_title}}</h3>
    <p class="film-info">
      <span class="film-genre" >{{genre_ids}}</span>
      |
      <span class="film-year">{{release_date}}</span>
      <span class="film-rating">{{vote_average}}</span>
    </p>
  </div>
</li>
{{/each}}